# Ignore built executables and other build artifacts in the extension directory
/extension/*
!/extension/*.c
!/extension/*.cpp
!/extension/*.h
!/extension/*.hpp
!/extension/**/

# Ignore specific build executables under the code tree
# ignore the reverse_iterate executable (built from code/08 - iterators)
/code/**/reverse_iterate
/code/**/null_sentinel
